
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/Cart.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light navgation">
            <div class="container">
                <div class="logo ">
                    <div><a class="navbar-brand" href="{% url 'Home' %}"> <span>Tr</span>avel</a></div>
                    <div><button class="navbar-toggler down" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                </div>
                <div class="collapse navbar-collapse links" id="navbarSupportedContent">
                    <div class="cont_links">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <div></div>
                            <li class="nav-item ">
                                <a class="nav-link active" aria-current="page" href="{% url 'Home' %}">Главная</a>
                                <div class="link_home"></div>
                            </li>
                            <li class="nav-item sel_about">
                                <a class="nav-link " href="{% url 'Home' %}#2">О нас</a>
                                <div class="link_about"></div>
                            </li>
                            <li class="nav-item sel_services">
                                <a class="nav-link" href="{% url 'Home' %}#3">Исследовать</a>
                                <div class="link_services"></div>
                            </li>
                            <li class="nav-item sel_work">
                                <a class="nav-link" href="{% url 'Home' %}#4">Блог</a>
                                <div class="link_work"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% if user.is_authenticated %}
            <div class="login ">
                <a class="login" href="{% url 'profile' user.username %}"><button type="button" class="btn btn-outline-info">{{user.username}}</button></a>
            </div>
            {% else %}
            <div class="login ">
                <a class="login" href="{% url 'Login' %}"><button type="button" class="btn btn-outline-info">Войти</button></a>
            </div>
            {% endif %}
        </nav>
        
        <div class="container">                
            <div class="card ">
                <div class="card-header">
                    <h4 class="card-title">Список бронирований</h4>
                </div>
                <div class="card-body">
                    <div class="cart-container">
                        <table class="table table-borderless table-striped">
                            <thead>
                                <h4>Номера</h4>
                                <tr>
                                    <th scope="col">Номер</th>
                                    <th scope="col" class="ps-5">Действие</th>                                               
                                    <th scope="col">Детали номера</th>
                                    <th scope="col">Цена</th>
                                </tr>
                            </thead>
                            {% for room in rooms %}
                            <tbody>
                                <tr>
                                    <th scope="row" class="ps-4">{{ forloop.counter }}</th>
                                    <td>
                                        <form action="{% url 'booking_list' user.id %}" method="POST">
                                            {% csrf_token %}
                                            <button class="btn btn-info" type="submit" name="Droom" value="{{ room.id }}"><a class="text-black text text-decoration-none">Удалить</a></button>
                                        </form>
                                    </td>                                            
                                    <td>{{ room }}</td>
                                    <td>${{ room.Room.price }}</td>
                                </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="cart-container">
                        <table class="table table-borderless table-striped">
                            <thead>
                                <h4>Туры</h4>
                                <tr>
                                    <th scope="col">Номер</th>
                                    <th scope="col" class="ps-5">Действие</th>
                                    <th scope="col">Детали предложения</th>
                                    <th scope="col">Цена</th>
                                </tr>
                            </thead>
                            {% for offer in offers %}
                            <tbody>
                                <tr>
                                    <th scope="row" class="ps-4">{{ forloop.counter }}</th>
                                    <td>
                                        <form action="{% url 'booking_list' user.id %}" method="POST">
                                            {% csrf_token %}
                                            <button class="btn btn-info" type="submit" name="Doffer" value="{{ offer.id }}"><a class="text-black text text-decoration-none">Удалить</a></button>
                                        </form>
                                    </td>
                                    <td>{{ offer }}</td>
                                    <td>${{ offer.offer.new_price }}</td>
                                </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>