{% load  static %}
{% load widget_tweaks %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <header class="Home_Page" id="1" style="background-image: url({% static 'images/section.jpg' %}); " >
            <nav class="navbar navbar-expand-lg navbar-light bg-light navgation">
                <div class="container">
                    <div class="logo ">
                        <div><a class="navbar-brand" href="{% url 'Home' %}"> <span>Тр</span>авел</a></div>
                        <div><button class="navbar-toggler down" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                            </button>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse links" id="navbarSupportedContent">
                        <div class="cont_links">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <div>

                        </div>
                        <li class="nav-item ">
                            <a class="nav-link active" aria-current="page" href="{% url 'Home' %}">Главная</a>
                            <div class="link_home"></div>
                        </li>
                        <li class="nav-item sel_about">
                            <a class="nav-link " href="#2">О нас</a>
                            <div class="link_about"></div>
                        </li>
                        <li class="nav-item sel_services">
                            <a class="nav-link" href="#3">Экскурс</a>
                            <div class="link_services"></div>
                        </li>
                        <li class="nav-item sel_work">
                            <a class="nav-link" href="#4">Блог</a>
                            <div class="link_work"></div>
                        </li>
                        <li class="nav-item sel_tours"> <!-- Добавляем класс "sel_tours" -->
                            <a class="nav-link" href="#tours">Туры</a> <!-- Используем "#tours" в качестве ссылки -->
                            <div class="link_tours"></div> <!-- Можно добавить дополнительные стили или элементы для активной ссылки -->
                        </li>
                        <li class="nav-item sel_contact">
                            <a class="nav-link" href="{% if user.is_authenticated %} {% url 'booking_list' user.id %} {% else %}# {% endif %}">Бронирования</a>
                            <div class="link_contact"></div>
                        </li>
                        </ul>
                        </div>
                    </div>

                </div>
                {% if user.is_authenticated %}
                <div class="login ">

                    <a class="login" href="{% url 'profile' user.username %}"><button type="button" class="btn btn-outline-info">{{user.username}}</button></a>
                </div>

                {% else %}
                <div class="login ">

                    <a class="login" href="{% url 'Login' %}"><button type="button" class="btn btn-outline-info">Войти </button></a>
                </div>
                {% endif %}
            </nav>
                    <div class="row  g-0 ">
                        <div class="col-lg-12 col-sm-6">
                            <div class="content d-flex justify-content-center vh-100 align-items-center ">
                                <div class="text text-center ">
                                    <h1>Туристический <br> сайт <span></span></h1>
                                    <p>Исследуйте мир с нами</p>
                                </div>
                            </div>
                        </div>
                    </div>

            <!-- форма на главной странице -->
   <div class="container">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        {% if form is None and Fform is None or form is not None %}
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="submit" role="tab" aria-controls="pills-profile" aria-selected="false">Отели</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Рейсы</button>
        </li>
        {% else %}
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="submit" role="tab" aria-controls="pills-profile" aria-selected="false">Отели</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Рейсы</button>
        </li>
        {% endif %}
    </ul>
    <div class="tab-content" id="pills-tabContent">

        {% if form is None %}
        {% if Fform is None %}
        <div class="tab-pane fade show active" id="pills-home" action="{% url 'booking' 'rtype' %}" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                {% else %}
                <div class="tab-pane fade" id="pills-home" action="{% url 'booking' 'rtype' %}" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        {% endif %}
                        <div class="row">
                            <div class="col-lg-12 col-sm-6">
                                <form class="form_color p-5" name="Hotels" action="{% url 'Home' %}" method="GET">
                                    <div class="row gy-2">
                                        <label>Выберите тип комнаты</label>
                                        <div class="col-lg-3 col-sm-12 d-flex">
                                            <select name="rtype" class="form-select" aria-label="Default select example">
                                                <option selected>Тип комнаты</option>
                                                <option value="SIG">Одиночный</option>
                                                <option value="DOB">Двойной</option>
                                                <option value="DEX">Делюкс</option>
                                            </select>
                                        </div>
                                        {% if profile.vip %}
                                        <label style="color:red">Вам предоставляется скидка 10% на стоимость бронирования</label>
                                        {% else %}
                                        {% endif %}
                                        <div class="col-lg col-sm-12 d-flex justify-content-center">
                                            <button type="submit" name="Hotels" class="btn btn-primary tm-btn-search mt-3">Проверить комнаты</button>
                                        </div>
                                    </div>
                            </div>
                            </form>
                        </div>
                    </div>
            </div>
            {% else %}
            <div class="row">
                <div class="col-lg-12 col-sm-6">
                    <form class="form_color p-5" name="Hotels" action="{% url 'booking' rtype %}" method="POST">
                        {% csrf_token %}
                        <div class="row gy-2">
                            <label>Выберите комнату</label>
                            {% render_field form.Room class="form-select" %}
                            <label>Дата заезда</label>
                            {% render_field form.Rcheck_in class="form-datetime" type="datetime-local" %}
                            <label>Дата выезда</label>
                            {% render_field form.Rcheck_out type="datetime-local" class="form-datetime" %}
                            {% if profile.vip %}
                            <label style="color:red">Вам предоставляется скидка 10% на стоимость бронирования</label>
                            {% else %}
                            {% endif %}
                            <div class="col-lg col-sm-12 d-flex justify-content-center">
                                <button type="submit" name="Hotels" class="btn btn-primary tm-btn-search mt-3">Забронировать комнату</button>
                            </div>
                        </div>
                </div>
                </form>
            </div>
        </div>
        {% endif %}

        {% if Fform is None %}
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
            <div class="row">
                <div class="col-lg-12 col-sm-6">
                    <form class="form_color p-5" action="{% url 'Home' %}" method="GET">
                        <div class="row gy-2">
                            <label>Перейдите по ссылке</label>
                           <p>https://www.aviasales.ru/</p>
                            {% if profile.vip %}
                            <label style="color:red">Вам предоставляется скидка 10% на стоимость бронирования</label>
                            {% else %}
                            {% endif %}
                        </div>
                </div>
                </form>
            </div>
        </div>
    </div>

    {% else %}
    <div class="tab-pane fade show active" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
        <div class="row">
            <div class="col-lg-12 col-sm-6">
                <form class="form_color p-5" name="Flights" action="{% url 'flight' det_from det_to %}" method="POST">
                    {% csrf_token %}
                    <div class="row gy-2">
                        <label>Рейсы</label>
                        {% render_field Fform.Flight_Info class="form-select" %}
                        <label>Билеты</label>
                        {% render_field Fform.tickets class="form-control" %}
                        {% if profile.vip %}
                        <label style="color:red">Вам предоставляется скидка 10% на стоимость бронирования</label>
                        {% else %}
                        {% endif %}
                        <div class="col-lg col-sm-12 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary tm-btn-search mt-3">Забронировать рейс</button>
                        </div>
                    </div>
            </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
</div>
</div>
</div>
</header>
   <section class="About" id="2">
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-12 col-sm-12">
                <div class="text-center">
                    <h1 class="hd">О нас</h1>
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-5 col-sm-12">
                <h1>Путешествия по Египту</h1>
                <p class="phr_about">Наслаждайтесь с нами лучшими путешествиями по Египту, бронируйте у нас и наслаждайтесь предложениями на туристические поездки по Египту, проводите лучшие времена с нами и получайте лучшие предложения на внутренние поездки. Получайте туристические поездки в Египет по самым низким ценам и с лучшими условиями, получайте лучшие скидки при бронировании туров внутри страны.</p>
            </div>
            <div class="col-lg-7 col-sm-12 pb-5">
                <div class="curous">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{% static 'images/travel1.jpg' %}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'images/travel2.png' %}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'images/travel3.jpg' %}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'images/travel4.webp' %}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'images/travel5.jpg' %}" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Предыдущий</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Следующий</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="Explore" id="3">
    <div class="container p-5">
        <div class="row mb-5">
            <div class="col-lg-12 col-sm-12">
                <div class="text_under text-center">
                    <h1 class="hd">Экскурс</h1>
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-5 col-sm-12">
                <div class="text d-flex align-items-center h-100">
                    <div>
                        <h5>Мы позаботимся обо всем:</h5>
                        <p>Вы получите удовольствие, проводя время с нами, получая качественные услуги по скидочным ценам. Посмотрите это видео и узнайте о некоторых наших поездках.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-sm-12">
                <div class="video">
                    <video src="{% static 'images/This_is_Egypt(720p).mp4' %}" controls class="w-100 h-100"></video>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blog py-3" id="4">
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-12 col-sm-12">
                <div class="text_under text-center">
                    <h1 class="hd">Блог</h1>
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-2">
            <div class="col-lg-4 mt-3 card_action">
                <div class="card shadow-sm p-3 mb-5 bg-white rounded">
                    <img src="{% static 'images/North Coast.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body position-relative mb-5">
                        <h5>Северное побережье</h5>
                        <p class="card-text">Добро пожаловать с нами в особое путешествие по Северному побережью. Вы можете наслаждаться захватывающими видами, забронировав у нас отели на Северном побережье.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-3 card_action">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                    <img src="{% static 'images/Ain Sukhna.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body position-relative mb-5">
                        <h5>Айн-Сохна</h5>
                        <p class="card-text">Забронируйте у нас лучшие поездки в Айн-Сохну, наслаждайтесь предложениями на поездки в Айн-Сохну, получайте авиабилеты в Айн-Сохну по самым низким ценам и с лучшими условиями.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-3 card_action">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                    <img src="{% static 'images/eg2.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body position-relative mb-5">
                        <h5>Каир</h5>
                        <p class="card-text">Каир — город-хранитель культуры, искусства и красоты. Это не только столица Египта, но и крупнейший мегаполис в Африке, на Ближнем Востоке, во всём арабском мире. Каир, который мы знаем сегодня, основан в 969 году н. э. династией Фатимидов, и известен как “город тысячи минаретов” благодаря многочисленным мечетям. В самом сердце Каира находится подлинный дом магии, Египетский музей, а на окраинах — пирамиды Гизы, одно из семи Чудес Света Древнего мира.</p>
                    </div>
                </div>
            </div>
</section>
        <section class="offer py-5" id="tours">
    <div class="container">
        <div class="row mb-5 ">
            <div class="col-lg-12 col-sm-12  ">
                <div class="text_under text-center ">
                    <h1 class="hd">Туры</h1>
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
 <div           class="row mt-5 g-5">
                {% for offer in offers %}
                <div class="col-lg-4 col-sm-12 mt-4 action">
                    <div class="card card_offer text-center" style="width: 20rem;">
                        <img src="{{ offer.image_url }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="card-title">{{ offer.title }}</h3>
                            <p class="card-text">{{ offer.description }}</p>
                            <h5>Цена: <span class="text-decoration-line-through">{{ offer.old_price }} LE</span> {{ offer.new_price }} LE</h5>
                            <form action="" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="offer_id" value="{{ offer.id }}">
                                {% if user.is_authenticated %}
                                <button type="submit" class="btn btn-primary mt-2 text-center">Забронировать</button>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
                    {% comment %} <div class="col-lg-4 col-sm-12  mt-4 action">
                        <div class="card  card_offer text-center" style="width: 20rem;">
                            <img src="images/Alex.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                            <h3 class="card-title">Александрия</h3>
                            <p class="card-text">Некоторый быстрый пример текста для создания заголовка карты и создания основной части содержимого карты.</p>
                            <h5>Цена: <span class="text-decoration-line-through"> 1500 LE </span> 1000 LE </h5>
                            <a href="#" class="btn btn-primary mt-2 text-center">Забронировать</a>
                            </div>
                        </div>
                    </div> {% endcomment %}

                    {% comment %} <div class="col-lg-4 col-sm-12  mt-4 action">
                        <div class="card  card_offer text-center" style="width: 20rem;">
                            <img src="images/Alex.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                            <h3 class="card-title">Александрия</h3>
                            <p class="card-text">Некоторый быстрый пример текста для создания заголовка карты и создания основной части содержимого карты.</п>
                            <h5>Цена: <span class="text-decoration-line-through"> 1500 LE </span> 1000 LE </h5>
                            <a href="#" class="btn btn-primary mt-2 text-center">Забронировать</a>
                            </div>
                        </div>
                    </div> {% endcomment %}
                    {% comment %} <div class="col-lg-4 col-sm-12  mt-4 action">
                        <div class="card  card_offer text-center" style="width: 20rem;">
                            <img src="images/Alex.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                            <h3 class="card-title">Александрия</h3>
                            <п class="card-text">Некоторый быстрый пример текста для создания заголовка карты и создания основной части содержимого карты.</п>
                            <h5>Цена: <span class="text-decoration-line-through"> 1500 LE </span> 1000 LE </h5>
                            <a href="#" class="btn btn-primary mt-2 text-center">Забронировать</а>
                            </div>
                        </div>
                    </div> {% endcomment %}
                {% comment %} </div>
            </div>
        </div>
    </div>
</section> {% endcomment %}

        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    </body>
</html>